.container {
  margin: 0;
  padding: 0;
  background-image: url('../public/Background.png');
  background-repeat: no-repeat;
  background-size: fill;
  overflow: hidden;
}

.main {
  background-image: url('../public/Texture.png');
  background-repeat: no-repeat;
  background-size: auto;
  min-height: 100vh;
  padding-top: 3rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.title {
  margin:1rem;
  padding: 0.5rem;
  width: auto;
  height: auto;
}

.grid {
  width: 85%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 2rem;

}

.card {
  padding:0.5rem;
  text-align: left;
  color: inherit;
  background-color: beige;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-height: 350px;
}
@media (350px < width < 950px) {
  .main{
    width: 100%;
    overflow: hidden;
    min-height: 60vh;
    width: auto;
    padding: 0;
  }
  .grid{
    width: 100%;
    margin-bottom: 0;
    height: 600px;
    justify-content: left;
    flex-wrap: nowrap;
    overflow: auto;
    padding: 1rem;
  }
}


.card:hover,
.card:focus,
.card:active {
  color: #ffffff;
  border-color: #0070f3;
  background-color: #0070f3;
  transition: 0.8s;
}

.Pokemonimage {
  height: 271 ;
  width:271;
  padding: 4rem;
  background-color: #e2dddd;
  
}
.Pokemonimage image{
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.PokemonName {
  height: 200px;
  line-height: 10px;
}
.PokemonName h2{
  margin-top: 0px;
}
.PokemonName span {
  width: 25px;
  height: 75px;
  font-size: 15px;
  color: #ffffff;
  background-color: rgba(75, 137, 41, 0.759);
  border-radius: 10px;
  padding: 5px 10px; 
  margin-right: 10px;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}


@media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
}